body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 50% 0%, #64583e 0, #24282f 50%, #00001f 100%);
}

.img-container{
    text-align: center;

}

section{
    display: flex;
    width: 600px;
    height: 430px;
  }
  section img{
    text-align: center;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 10px;
  }
  section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }